<label class="label">Search Players</label>
<input class="input is-large field" type="text" placeholder="Last, First" />
<button class="button is-large is-primary">Search</button>
{{! Here we use the API data to list the searched players Name and stats that we want (most relevant) }}