<section class="footer has-text-centered">
  <ul class="footer-list">
    <li>
      <a href="#top">Home</a>
    </li>
    <li>
      <a href="">Services</a>
    </li>
    <li>
      <a href="">Terms</a>
    </li>
    <li>
      <a href="">Privacy Policy</a>

    </li>
  </ul>
  <p class="copyright">
    OnlyFantasies &#169 2022
  </p>
</section>