<section class="hero is-danger">
  <div class="hero-head">
    <div class="navbar">
      <div class="container">
        {{>login}}
        {{>newUser}}
      </div>
    </div>
  </div>
  <div class="hero-body">
    <p class="title has-text-centered">OnlyFantasies</p>
    <p class="subtitle has-text-centered">Fantasy football companion</p>
  </div>
</section>