<div class="player-stats-card">
<ul class="player_list">
      <label for="Name">
      Player Name:
    <li>{{name}}</li>
        <label for="Team">
      Team:
    <li>{{team}}</li>
        <label for="Position">
      Position:
    <li>{{position}}</li>
        <label for="LastGameFantasyPoints">
      Last Game Fantasy Points:
    <li>{{fantasy_points}}</li>
</ul>
</div>