<div class="select is-small field">
  <select>
    <option>Choose Season</option>
    <option value="2022REG">2022</option>
    <option value="2021REG">2022</option>
    <option value="2020REG">2022</option>
    <option value="2019REG">2022</option>
    <option value="2018REG">2022</option>
  </select>
</div>
<div class="select is-small field">
  <select>
    <option>Choose Week</option>
    <option value="1">Week 1</option>
    <option value="2">Week 2</option>
    <option value="3">Week 3</option>
    <option value="4">Week 4</option>
    <option value="5">Week 5</option>
    <option value="6">Week 6</option>
    <option value="7">Week 7</option>
    <option value="8">Week 8</option>
    <option value="9">Week 9</option>
    <option value="10">Week 10</option>
    <option value="11">Week 11</option>
    <option value="12">Week 12</option>
    <option value="13">Week 13</option>
    <option value="14">Week 14</option>
  </select>
</div>
{{!-- // If we get rid of this button will it auto populate with the top value in the select menu? --}}
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>

{{!-- Card will populate with your team players--}}
<div class="container">
       {{>Team}}
      </div>

{{!-- Card will populate with your players stats --}}
        <div class="container">
          {{#each playerStatss as |playerStats|}}
         {{>playerStats}}
        </div>

