{{! Card that populates with the User's Team }}
  <div class="team card field">
<ul class="player">
  {{#each Player}}
      <label for="Name">
      Player Name:
    <li>{{data.Name[0]}}<span><div class="field">
  <p class="control">
    <button class="button delete is-small">
      Login
    </button>
    </li>
  </p>
</div>
</span>