{{! Card that populates with the User's Team }}
  <div class="team card field">
<ul class="player">
  {{#each Player}}
      <label for="Name">
      Player Name:
    <li>{{data.Name[0]}}<span><div class="field">
  <p class="control">
      <button class="button is-danger is-outlined">
    <span>Delete</span>
    <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
  </button>
    </li>
  </p>
</div>
</span>