{{! Card that populates with the User's Team }}
<div class="team-card">
  <div class="team-card-header">
    {{#each Teams as |team|}}
    {{team_name}}
 </div>
  <div class="card-body">
    <p>
      Player Name:
      {{name}}
    <div class="field">
      <button class="control button is-danger is-outlined">
    <span>Delete</span>
    <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
    </button>
  </p>
</div>
<p>
</div>