<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OnlyFantasies!</title>
    <link
      rel="shortcut icon"
      href="https://freepngimg.com/download/football/30363-3-american-football-clip-art-free.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="public\css\jass.css" />
  </head>
  <body>
    <section class="hero is-danger">
      <div class="hero-head">
        <div class="navbar">
          <div class="container">
            <div class="navbar-end">
              <a class="navbar-item is-active"> Login </a>
              <a class="navbar-item"> Create Account </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-body">
        <p class="title has-text-centered">OnlyFantasies</p>
        <p class="subtitle has-text-centered">Fantasy football companion</p>
      </div>
    </section>
    {{{body}}}
  </body>
</html>